@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */
/*entire body styles*/
html, body {
    min-height: 100vh;
    min-width: 100vw;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body{
    background-color: #ebe134;
    overflow:hidden;
    text-align: center;
}
/*---------------------------HEAD STYLING----------------------------*/
/*head container*/
.titleSectionContainer{
    display:flex;
    min-height:10vh;
    max-height: 10vh;
}

/*Main Title*/
.titleSectionContainer>h1{
    min-width: 60vw;
    font-size:calc(8pt + 2.25vmin);
}
.titleSectionContainer>h2{
   width:40vw;
    font-size:calc(6pt + 2vmin);
}


/*div containing the 2 lower sections */
.flex-container {
  display: flex;
  background-color: DodgerBlue;
  
  
  /* overflow: auto; /*this makes the whole section scroll*/
}
/*first sections in the lower 2*/
.flex-container > #tsection {
align-self: flex-start;
width:65%;
margin-right:3.25%;
max-height: 85vh;
}

/*both lower sections*//*---------------------------Lower Section----------------------------*/
.flex-container  section {
 background-color: #ebe134;
font-size:calc(2pt + 1.3vmin);
max-height: 85vh;
}
/*---------------------------TABLE STYLING----------------------------*/
/* This is where im working to add table scroll*/
/*tried setting max height of table */
table{ 
background-color: #ebe134;
/*set the parent max height which is the table*/
min-height:85vh;
max-width: 65vw;
min-width:60vw;
margin-right: .5vw;
padding-right: 1vw;
}
th{
    font-size:calc(3pt + 1.3vmin);
}

/* this is how I made the body scrollable and sized correctly */
thead, tbody, tfoot { display: block; }
thead, tfoot{
    max-width:60vw;
}

 thead th, tfoot th{
min-width: 12vw;  
max-width: 12vw;  
 }

 tbody td{
    max-width: 12vw;
    min-width: 12vw;  
}

#tBody{
scrollbar-width: thin;
scroll-behavior: smooth;
min-width:61vw;
max-height: 70vh;
overflow-y: scroll;
overflow-x: hidden;

}

/* fill out the buttons to the width of the cell*//*height not working */
.tableButton{
    min-width:100%;
    max-width: 100%;
    min-height:4em;
    max-height:7vh;
}


/*all tr's in the table */
table>tr {
    padding-left:1%;
    max-height: 10vh;
}
/*all pictures in the td*/
tbody>tr>td>:nth-child(1){ 
    align-self: center;
    margin-bottom: 1%;
    padding-top:1%;
    height:7.5vmin;
    width:7.5vmin;
 
}
/* all p's in the td*/
tbody>tr>td>:nth-child(2){ 
width:90%;
    height:25%;
    align-self: center;
    padding-top: 1%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size:calc(3pt + 1.5vmin);
font-weight: bolder;
}

/* color the corrosponding buttons and colums with the correct colors.*/
tbody>tr>:nth-child(1),thead>tr>:nth-child(1),tfoot>tr>:nth-child(1){ 
background-color: rgb(156, 18, 156);   
}
tbody>tr>:nth-child(2),thead>tr>:nth-child(2),tfoot>tr>:nth-child(2){ 
background-color: rgb(19, 72, 231);
}
tbody>tr>:nth-child(3),thead>tr>:nth-child(3),tfoot>tr>:nth-child(3){ 
background-color: rgb(21, 90, 21);
}
tbody>tr>:nth-child(4),thead>tr>:nth-child(4),tfoot>tr>:nth-child(4){ 
background-color: rgb(160, 123, 53);
}
tbody>tr>:nth-child(5),thead>tr>:nth-child(5),tfoot>tr>:nth-child(5){ 
background-color: rgb(206, 74, 96);
}
#noun1,#nnoun1{ 
background-color:rgb(252, 0, 252);   
}
#verb,#nverb{
background-color: rgb(25, 83, 255);
}
#adjective,#nadjective{ 
background-color: rgb(31, 231, 31);
}
#noun2, #nnoun2{ 
background-color: rgb(252, 182, 53);
}
#setting,#nsetting{ 
background-color: rgb(255, 95, 122);
}

/*second section in the bottom half on the right side*//*---------------------------BSECTION STYLING----------------------------*/
.flex-container > #bsection {
width:33vw;
max-height: 85vh;


text-align: center;
}
/*show story button*/
#playback,#randomButton, #resetButton{
    min-height:5em;
width:80%;
background-color:lightsalmon;
margin-bottom:1.5vh;
font-weight:500;
font-size: calc(6pt + 1.3vmin);
}
#playback{
    background-color: turquoise;
    margin-top:5vh;
}
input{
    min-width: 60%;
    max-width: 60%;
    margin-left: 5%;
}
#bsection > div{
    min-width:100%;
}
label{
  vertical-align: top;
  margin-right:5%;
  text-align: center;
  min-width: 20%;
  max-width: 20%;
display: inline-block;
vertical-align:center;
}
label[for=newNounTxt],label[for=newVerbTxt],label[for=newAdjTxt],label[for=newNoun2Txt],label[for=newSettingTxt],label[for=newNounURL],label[for=newVerbURL],label[for=newAdjURL],label[for=newNoun2URL],label[for=newSettingURL]{
    min-width: 45%;
    max-width: 45%;
    margin: 0;
    padding:0;
    font-size: calc(1vmin + calc(.1vw + .05vh));    
    vertical-align: middle;
}
input[type='text']{
    min-width: 55%;
    max-width: 55%;
    margin: 0;
    padding:0;
}
select{
    margin-top: 3vh;
    
    width:60%;
}
checkmark{
    margin-top:1vh;
}

#resetButton{
    vertical-align: bottom;
    background-color: lightslategrey;
    font-weight: 500;
}

#story{
    padding-top: 0;;
    min-height: 4em;
    text-align: center;
    vertical-align: top;
    margin-top: 0;
    font-size: calc(6pt + 1.7vmin);
    font-weight: bolder;
}
.activeNoun1,.activeVerb,.activeAdj,.activeNoun2,.activeSetting{
color: lime;
}
.speaking{
background-color: #ebe134 !important;
color:#0f0899;
}

#story>section{
    display:block;
    align-self:center;

}
#story>section>p{
    display:inline;
   padding-left:0.5%;
   font-size: calc(6pt + 1.7vmin);
    font-weight: bolder;
}
