@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */
/*entire body styles*/
html, body {
    min-height: 150px;
    min-width: 150px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body{
    background-color: #ebe134;
    overflow:hidden;
    text-align: center;
}
/*---------------------------HEAD STYLING----------------------------*/
/*head container*/
.titleSectionContainer{
    display:flex;
    min-height:10vh;
    max-height: 10vh;
}

/*Main Title*/
.titleSectionContainer>h1{
    min-width: 60vw;
    margin-top:0;
    font-size:calc(1.5vmin + calc(.1vw + 2vh));   
}
.titleSectionContainer>h2{
   width:40vw;
   margin-top:0;
    font-size:calc(1.2vmin + calc(.1vw + 2.3vh));   
}


/*div containing the 2 lower sections */
.flex-container {
  display: flex;
  background-color: DodgerBlue;
  
  
  /* overflow: auto; /*this makes the whole section scroll*/
}
/*first sections in the lower 2*/
.flex-container > #tsection {
align-self: flex-start;
width:65%;
margin-right:3.25%;
max-height: 85vh;
}

/*both lower sections*//*---------------------------Lower Section----------------------------*/
.flex-container  section {
 background-color: #ebe134;
font-size:calc(2pt + 1.3vmin);
max-height: 85vh;
}
/*---------------------------TABLE STYLING----------------------------*/
/* This is where im working to add table scroll*/
/*tried setting max height of table */
table{ 
background-color: #ebe134;
/*set the parent max height which is the table*/
min-height:85vh;
max-width: 65vw;
min-width:60vw;
margin-right: .5vw;
padding-right: 1vw;
}
th{
    font-size:calc(3pt + 1.3vmin);
}

/* this is how I made the body scrollable and sized correctly */
thead, tbody, tfoot { display: block; }
thead, tfoot{
    max-width:60vw;
}

 thead th, tfoot th{
     max-height:100%;
min-width: 12vw;  
max-width: 12vw;  
 }

 tbody td{
    max-width: 12vw;
    min-width: 12vw;  
}

#tBody{
scrollbar-width: thin;
scroll-behavior: smooth;
min-width:61vw;
max-height: 63vh;
overflow-y: scroll;
overflow-x: hidden;

}

/* fill out the buttons to the width of the cell*//*height not working */
.tableButton{
    min-width:100%;
    max-width: 100%;
    min-height:4em;
    max-height:7vh;
}


/*all tr's in the table */
table>tr {
    padding-left:1%;
    max-height: 10vh;
}
/*all pictures in the td*/
tbody>tr>td>:nth-child(1){ 
    vertical-align:top;
    padding-top:1%;
    height:7.5vmin;
    width:7.5vmin;
 
}
/* all p's in the td*/
tbody>tr>td>:nth-child(2){ 
width:90%;
    height:25%;
    padding-top: 1%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size:calc(1vmin + calc(.2vw + .3vh));   
font-weight: bolder;
}

/* color the corrosponding buttons and colums with the correct colors.*/
tbody>tr>:nth-child(1),thead>tr>:nth-child(1),tfoot>tr>:nth-child(1){ 
background-color: rgb(163, 44, 162);   
}
tbody>tr>:nth-child(2),thead>tr>:nth-child(2),tfoot>tr>:nth-child(2){ 
background-color: rgb(45, 152, 215);
}
tbody>tr>:nth-child(3),thead>tr>:nth-child(3),tfoot>tr>:nth-child(3){ 
background-color: rgb(141, 182, 6);
}
tbody>tr>:nth-child(4),thead>tr>:nth-child(4),tfoot>tr>:nth-child(4){ 
background-color: rgb(240, 137, 8);
}
tbody>tr>:nth-child(5),thead>tr>:nth-child(5),tfoot>tr>:nth-child(5){ 
background-color: rgb(223, 59, 150);
}
#noun1,#nnoun1{ 
background-color:rgb(252, 0, 252);   
}
#verb,#nverb{
background-color: rgb(25, 83, 255);
}
#adjective,#nadjective{ 
background-color: rgb(31, 231, 31);
}
#noun2, #nnoun2{ 
background-color: #ff6f00;
}
#setting,#nsetting{ 
background-color: #ff00b3;
}

/*second section in the bottom half on the right side*//*---------------------------BSECTION STYLING----------------------------*/
.flex-container > #bsection {
width:33vw;
max-height: 85vh;


text-align: center;
}
/*show story button*/
#playback,#randomButton, #resetButton{
    min-height:10vh;
width:80%;
background-color:#00ffa2;
margin-bottom:1.5vh;
font-weight:500;
font-size: calc(.8vmin + calc(.6vw + .8vh));
}
#playback{
    background-color: #00f7ff;
    margin-top:5vh;
}
input{
    min-width: 50%;
    max-width: 50%;
    margin-left: 5%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

#bsection > div{
    min-width:100%;
}
.value{
    display: inline-block;
    min-width: 15%;
    max-width: 15%;
    vertical-align: top;
    text-align: center;
    font-size: calc(.5vmin + calc(.2vw + .8vh));
   
}
.inputSlider{
    margin-bottom: 3vh;
    width: calc(.5vmin + calc(.3vw + .5vh));    
height: calc(.5vmin + calc(.3vw + .5vh));    
}
label{
  vertical-align: top;
  margin-right:5%;
  text-align: center;
  min-width: 20%;
  max-width: 20%;
display: inline-block;
vertical-align:center;
 font-size:  calc(.5vmin + calc(.2vw + .8vh)); 
}
label[for=newNounTxt],label[for=newVerbTxt],label[for=newAdjTxt],label[for=newNoun2Txt],label[for=newSettingTxt],label[for=newNounURL],label[for=newVerbURL],label[for=newAdjURL],label[for=newNoun2URL],label[for=newSettingURL]{
    min-width: 45%;
    max-width: 45%;
    margin: 0;
    padding:0;
    font-size: calc(1.1vmin + calc(.01vw + .2vh));    
    vertical-align: middle;
    text-align:left;
}
input[type='text']{
    min-width: 55%;
    max-width: 55%;
    margin: 0;
    padding:0;
    font-size: calc(.4vmin + calc(.3vw + .7vh));
}
.checkContainer{
     margin-top:2vh;
}
input[type="radio"], .checkContainer > label{
 
 
 min-width:unset;
max-width: unset;
margin-left: 2.5%;
   
}



select{
    margin-top: 3vh;
    width:60%;
}


#resetButton{
    vertical-align: bottom;
    background-color: #b3b3b3;
    font-weight: 500;
}

#story{
    padding-top: 0;;
    min-height: 15vh;
    text-align: center;
    margin-top: 0;
    font-size: calc(1vmin + calc(.7vw + .9vh));
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.activeNoun1,.activeVerb,.activeAdj,.activeNoun2,.activeSetting{
border: .75vmin solid transparent;
border-color: red;
  border-radius: 3.25vmin 3.25vmin 1.5vmin 1.5vmin;
}
.speaking{
background-color: #ebe134 !important;
color:#0f0899;
border-radius: 0;
}

#story>section{
    display:block;
    align-self:center;

}
#story>section>p{
    display:inline;
   padding-left:0.5%;
    font-weight: bolder;
    font-size:  calc(1vmin + calc(.7vw + .9vh));
}

/*-------------------------------------------------------- input slider styling------------------------------------*/

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color:lightskyblue;
  border: 1px solid #000000;
  height:150%;
  width: calc(.2vmin + calc(.7vw + .1vh));
  border-radius: 3px;
  cursor: pointer;
 /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height:calc(1vmin + calc(.7vw + .9vh));
  width: calc(.2vmin + calc(.7vw + .1vh));
  border-radius: 3px;
   background-color:lightskyblue;
  cursor: pointer;
    background-color:lightskyblue;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: calc(1vmin + calc(.7vw + .9vh));
  width: calc(.2vmin + calc(.7vw + .1vh));
  border-radius: 3px;
  
  cursor: pointer;
background-color:lightskyblue;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height:calc(.75vmin + calc(.5vw + .5vh));
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: calc(.5vmin + calc(.3vw + .3vh));
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: calc(.75vmin + calc(.5vw + .5vh));
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
/*-------------------------------------- radio button styling-------------------------------*/
input[type=radio] { 
  box-shadow: 1px 1px 1px lightskyblue, 0px 0px 1px purple;
  border: 3px solid lightskyblue;
  height: calc(1vmin + calc(1vw + 1vh));
width:15%;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
 margin: 0 ;
    padding: 0;
text-align: left;
 accent-color: green;
 margin-left:12%;
}

label[for=voiceSelect]{
    vertical-align: middle;
    font-size: calc(.5vmin + calc(.2vw + .8vh));
    
}
label[for=SayHighLight],label[for=justSay]{
    width:15%;
    text-align: left;
    vertical-align: bottom;
    margin: 0 ;
    padding: 0;
}
label[for=mathRadio],label[for=storyRadio],label[for=wordRadio]{
    width:10%;
    text-align: left;
    vertical-align: bottom;
    margin: 0 ;
    padding: 0;

}
input[type=radio].rl2 { 
  box-shadow: 1px 1px 1px lightskyblue, 0px 0px 1px purple;
  border: 3px solid lightskyblue;
  height: calc(.8vmin + calc(.8vw + .8vh));
width:10%;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
 margin-right:3% ;
    padding: 0;
text-align: left;
 accent-color: green;
 margin-left:3%;

}




/* Element | file:///C:/Users/kyled/OneDrive/Documents/GitHub/comp1073Labs/assignment1/index.html */

#justSay {
  margin-right: 10%;
}
