/*********************/


/** General Styling **/


/*********************/

h1,
h2,
h3,
h4,
h5 {
    font-family: 'palette mosaic', cursive;
}

p,
a,
li {
    font-family: 'nunito sans', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: 10% 30% 30% 30%;
    grid-template-areas: "header header header header" "hero hero hero hero" "sidebar main main main" "footer footer footer footer";
}


/********************/


/** Sticky Heading **/


/********************/

.sticky-header {
    width: 100%;
    height: 150px;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    transition: all .25s linear;
}

.sticky-header div {
    height: 125px;
    flex-grow: 1;
    transition: all .25s linear;
}

.sticky-header div a img {
    height: 100%;
}

.sticky-header nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
}

.sticky-header nav ul li {
    padding: 0px 15px;
}

.sticky-header nav ul li a {
    color: #000;
    transition: all .25s linear;
}

.scrolled-header {
    height: 110px;
    background-color: #0e0e0e;
}

.scrolled-header div {
    height: 100px;
}

.scrolled-header nav ul li a {
    color: #fff;
}

.hero {
    grid-area: hero;
    width: 100%;
    height: 100vh;
    background-image: url('../img/hero-2.jpg');
    background-size: cover;
}

.hero div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero div h1 {
    color: #fff;
    font-size: 4em;
}

main {
    grid-area: main;
    padding: 5% 2%;
}

main section {
    padding: 5%;
}

main section h2 {
    font-size: 3em;
    margin-bottom: 25px;
}

main section h3 {
    font-size: 2em;
    margin-bottom: 25px;
}


/* aside */

aside {
    grid-area: sidebar;
}

aside ul {
    width: 100%;
    list-style: none;
    background-color: #0e0e0e;
    text-align: center;
    padding: 50px 0px;
    position: sticky;
    top: 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

aside ul li {
    line-height: 2;
}

aside ul li a i {
    font-size: 2.5em;
    color: #fff;
}

main {
    grid-area: main;
}

main section {
    padding: 5%;
}

main section h2 {
    font-size: 3em;
    margin-bottom: 25px;
}

main section h3 {
    font-size: 2em;
    margin-bottom: 25px;
}

footer {
    grid-area: footer;
    background-color: #0e0e0e;
}

.footer-ex1 .ex1-top-footer {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 5%;
}

.footer-ex1 .ex1-top-footer article h5 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}

.footer-ex1 .ex1-top-footer article ul li a {
    color: #fff;
}

.footer-ex1 .ex1-top-footer article p {
    color: #fff;
    padding-bottom: 5px;
}

.footer-ex1 .ex1-top-footer article img {
    width: 90px;
}

.footer-ex1 .ex1-bottom-footer {
    background-color: #000;
    text-align: center;
}


/* mega menu */

.mega-header {
    width: 100vw;
    background-color: #0e0e0e;
    height: 70px;
    display: flex;
    align-items: center;
}

.mega-header a {
    color: #fff;
    margin: auto;
    text-decoration: none;
}

.mega-header nav {
    width: 100%;
    height: 100%
}

.mega-header #main-menu {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    width: 100%
}

.mega-header #main-menu li {
    flex-basis: 15%;
    text-align: center;
    height: 100%;
    display: flex;
}

.fw-dropdown {
    position: absolute;
    top: 70px;
    left: 0px;
    display: none;
    width: 100%;
    padding: 2em 0;
    background-color: #000;
    justify-content: space-around;
}

.mega-header #main-menu .fw-dropdown li {
    height: auto;
    padding: 10px;
}

.mega-header #main-menu li:hover a {
    color: coral;
}

.mega-header #main-menu li:hover .fw-dropdown {
    display: flex;
}

.mega-header #main-menu .fw-dropdown ul {
    flex-basis: 15%;
}

.side-menu-ex {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "side-menu ex3header" "ex3main ex3main" "ex3footer ex3footer";
}

.sidebar-menu {
    grid-area: side-menu;
    height: 100vh;
    background-color: #0e0e0e;
}

.sidebar-menu div a img {
    width: 100%;
    height: auto;
}

.sidebar-menu nav ul li a {
    color: #fff;
}

.ex3header {
    grid-area: ex3header;
    height: 100vh;
    background-image: url('../img/hero-1.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.ex3header div {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ex3header div h1 {
    color: #fff;
    font-size: 3em;
}

.ex3-main {
    grid-area: ex3main;
}

.ex3-footer {
    grid-area: ex3footer;
}

blockquote {
    font-size: 1.7em;
    font-style: italic;
    margin: 10px 0px;
}